<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/main.css">
    <title>Sidebar</title>
</head>
<body>
    <div class="sidebar">
        <ul>
            <li><a href="/pages/student/dashboard.html">Student Dashboard</a></li>
            <li><a href="/pages/faculty/dashboard.html">Faculty Dashboard</a></li>
            <li><a href="/pages/admin/dashboard.html">Admin Dashboard</a></li>
            <li><a href="/pages/student/attendance.html">Scan Attendance</a></li>
            <li><a href="/pages/faculty/manage-attendance.html">Manage Attendance</a></li>
            <li><a href="/pages/admin/manage-users.html">Manage Users</a></li>
            <li><a href="/pages/admin/reports.html">Attendance Reports</a></li>
            <li><a href="/pages/logout.html">Logout</a></li>
        </ul>
    </div>
</body>
</html>